/* Hide the info section (title, version, description) */
.swagger-ui .info {
    display: none !important;
}

/* Apply Inter font and reset padding */
.swagger-ui {
    font-family: Inter !important;
}

.opblock-tag {
    font-weight: bold;
    border: none !important;
}

.swagger-ui .wrapper {
    padding: 0 !important;
    max-width: none !important;
}

/* Move Authorize button to the navbar */
.swagger-ui .scheme-container {
    position: fixed;
    top: 0;
    right: 24px;
    z-index: 100;
    padding: 0 !important;
    margin: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    height: 64px;
    /* Match navbar height */
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
}

.expand-operation,
.opblock-control-arrow{
    display: none !important;
}

/* Style the Authorize button to look good on the black header */
.swagger-ui .btn.authorize {
    margin-right: 0 !important;
    background-color: transparent !important;
    border-color: #22c55e !important;
    /* Green-500 */
    color: #22c55e !important;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.2s;
    border: none;
    box-shadow: none;
}

.swagger-ui .btn.authorize:hover {
    background-color: rgba(34, 197, 94, 0.1) !important;
    box-shadow: none !important;
}

.swagger-ui .btn.authorize svg {
    fill: #22c55e !important;
}